.info-card {
    background-color: #edecca;

    border: 1px solid #d9d9d9;
    /* Viền */
    border-radius: 8px;
    /* Bo tròn viền */
    margin-right: 20px;
    margin-bottom: 20px;
}

.busOwner {
    background-color: #f0f2f5;
    /* Màu nền */
}

.info-card p {
    margin-bottom: 8px;
    /* Khoảng cách giữa các dòng */
    position: relative;
}

.info-card p strong {
    color: #1890ff;
    /* Màu sắc cho tiêu đề */
}

.button-container {
    position: absolute;
    top: 24px;
    right: 16px;
}