.Admin-header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0 30px;
    background-color: #9255FD;
    margin-bottom: 20px;
}

.SideMenuAndPageContent {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.05);
}

.SideMenu {
    height: 100%;
}

.SideMenuVertical {
    height: 100%;
}

.PageContent {
    padding-left: 12px;
}