.Admin-header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0 30px;
    background-color: #9255FD;
    margin-bottom: 20px;
}

.SideMenuAndPageContent {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.05);
    width: 250px;
    /* Điều chỉnh chiều rộng của menu */

}

.SideMenu {
    height: 100%;
}

.SideMenuVertical {
    height: 100%;
}

.PageContent {
    padding-left: 12px;
}



.SideMenuVertical .ant-menu {
    background-color: #f0f2f5;
    /* Màu nền của menu */
    border: none;
    /* Loại bỏ đường viền của menu */
}

.SideMenuVertical .ant-menu-item {
    margin-top: 20px;
    /* padding: 15px; */
    /* Điều chỉnh khoảng cách giữa các phần tử con bên trong mục */
    font-size: 16px;
    /* Điều chỉnh kích thước chữ cho mục */
}

.SideMenuVertical .ant-menu-item:hover {
    background-color: #e6ebf5;
    /* Màu nền khi di chuột qua một mục */
}

.SideMenuVertical .ant-menu-item-selected {
    background-color: #d4d9e3;
    /* Màu nền khi một mục được chọn */
}

.SideMenuVertical .ant-menu-item-icon {
    margin-right: 10px;
    /* Khoảng cách giữa biểu tượng và văn bản trong mục */
}