.tab-seat {
    font-family: Arial, sans-serif;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

.seat-layout {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #999;
    padding: 20px 0px 20px 15px;
    border-radius: 20px;
}


.seat {
    width: 40px;
    height: 40px;
    margin: 2px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    transition: background-color 0.3s;
}

.driver {
    width: 40px;
    height: 40px;
}

.seat:hover {
    background-color: #e0e0e0;
}

.seat:disabled {
    cursor: not-allowed;
}

.selected {
    background-color: #f00 !important;
    color: #fff;
}

.occupied {
    background-color: #999;
}