.text-radio {
    font-size: 16px;
}

.seo-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    border: 1px solid rgb(224, 224, 224);
    width: calc(25% - 24px);
    margin: 0 6px;
    margin-bottom: 20px;

}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.icon-container {
    width: 48px;
    height: 48px;

}

.card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;

}

.card-content-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.card-content-text {
    font-size: 14px;
    color: #666;
    /* Màu văn bản */
}